/*NAVIGATION*/
.logo{width: 20%;}
.navbar{
    box-shadow:2px 2px 5px #000000;
    opacity: .8;
}
.navbar .nav-item .nav-link{
    color:#fff;
}
/*HEADER*/
.header-main{
    
    position: relative;
    background: darkslategrey;
    background-image: url(assets/background.jpg);
    background-size: cover;
    min-width: 500px;
    height: 340px;

}

.header-main .background-overlay {
    position: absolute;
    background-color: rgba(72, 84, 96,0.7);
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
}
.header-product {
    
    
    overflow: hidden;
    margin: 10px;
    position: relative;
    
}

/*FORM CONTROL BTN*/
.form-control ,  .btn {
    border-radius: 0;
   

}

/*Team section*/
.team{
    background-color: rgb(72, 84, 96);
}

.team-img{width: 65%!important;}